{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="https://www.gmail.com">Gmail</a></li>
            <li><a href="">Images</a></li>
            <li><a class="gridlink"><img class="grid" src="{% static 'media/img/th-solid.svg.png' %}" alt="grid"></a></li>
            <li><button class="btn">Sign in</button></li>
        </ul>
    </nav>
    <section class="img">
            <img class="google_image" src="{% static 'media/img/google_image' %}" alt="google image">
            <div class="input-field">
                <img class="input-search" src="{% static 'media/img/search.png' %}" alt="">
                <input class="input" type="text">
                <img class="input-img" src="{% static 'media/img/Google_mic.svg.png' %}" alt="">
            </div>  
            <div class="btn-section">
               <button class="btn-down"><a href="" class="link_button">Google search</a></button>
               <button class="btn-down"><a href="" class="link_button">I am feeling lucky!</a></button>
            </div>
            <div class="para">
                <p>Google is available in these languages: <a href="">English</a></p>
            </div>
    </section>
    <footer>
    <div class="box">
        <div class="box1">Nepal</div>
        <div class="box2">
            <div class="list1">
                <ul>
                    <li><a href="https://ads.google.com/intl/ne_np/home/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1">Advertisement</a></li>
                    <li><a href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpbfooter&fg=1#?modal_active=none">Buisness</a></li>
                    <li><a href="https://about.google/intl/ne_np/?utm_source=google-NP&utm_medium=referral&utm_campaign=hp-footer&fg=1">About this</a></li>
                    <li><a href="https://www.google.com/search/howsearchworks/?fg=1">Search service work</a></li>
                </ul>
            </div>
            <div class="list2">
                <ul>
                    <li><a href="https://policies.google.com/privacy?hl=ne&gl=np">Privacy</a></li>
                    <li><a href="https://policies.google.com/terms?hl=ne&gl=np">Terms</a></li>
                    <li>
                        <div class="dropup">
                            <button class="dropbtn"><a>Settings</a>
                                <div class="dropup-content">
                                    <a href="">Search Settings</a>
                                    <a href="">Advanced Search</a>
                                    <a href="">Your data in search</a>
                                    <a href="">History</a>
                                    <a href="">Search Help</a>
                                    <a href="">Send Feedback</a>
                                </div>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </footer>
</body>
</html>
