body{
    margin:0;
    padding:0;
}
header{
    background-color:#3b5998;
    top:0;
    height:6rem;
    /* position:fixed; */
    width:100%;
}
.container {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.logo-text{
    width:50%;
    float:left;
}
.logo-text h1{
    color:white;
    font-weight:bold;
    font-family:'Roboto';
    font-size:2.8rem;
    margin-top:2rem;
}
.login{
    margin-top:1.4rem;
    width:50%;
    float:right;
}
.login label{
    color:white;
    font-weight:500;
}
.email{
    width:35%;
    float:left;
    margin-left:6rem;
}
.login-input{
    padding:0.23rem;
}
.password{
    width:35%;
    float:left;
    margin-left:1rem;
}
.password p{
    color:white;
    margin-top:0.2rem;
}
.login-button{
    width:10%;
    padding:0.3rem 0rem;
    float:right;
    margin-top:1.1rem;
    background-color: #4267b2;
    border:1px solid #29487d;  
}
.login-button-link{
    text-decoration:none;
    color:white;
    font-weight:bold;
}
.mid-section{
    height:42rem;
    background-color:rgb(228, 228, 228);
}
.info-section{
    width:60%;
    float:left;
}
.info-text{
    width:100%;
    float:left;
}
.info-text{
    font-family:'Roboto';   
    color:#333333;
}
.info-text h2{
    font-size:2rem; 
    line-height:2.5rem;
    font-weight:bold;
    letter-spacing: normal;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif ;
    padding:1.5rem 0;
}
.info-text p{
    font-size:15px; 
    letter-spacing:normal;  
    font-family: Helvetica, Arial, sans-serif;
}
.see{
    height:6rem;
}
.see img{
    float:left;
}
.see p{
    float:left;
    margin-left:2rem;
}
.share{
    height:6rem;
}
.share img{
    float:left;
}
.share p{
    float:left;
    margin-left:2rem;
}
.find img{
    float:left;
}
.find{
    height:6rem;
}
.find p{
    float:left;
    margin-left:2rem;
}
.info-bold{
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    font-size:17px;
    letter-spacing:normal;  
    font-weight:bold;
}
.signup-section{
    width:40%;
    float:right;
}
.signup-section h1{
    font-size:2.5rem; 
    color:#333333;
    line-height:2.5rem;
    font-weight:bold;
    letter-spacing: normal;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif ;
    margin:0;
}
.free-section{
    font-family:Helvetica, Arial, sans-serif ;
    font-size:1.3rem;
    color:#333333;
    margin-top:0.4rem;

}
.signup-section input{
    padding:9px 10px;
    border-radius:5px;
    font-size:18px;
    margin:0.3rem 0;
    border:1px solid #bdc7d8;
}
.signup-section input:focus{
    outline:none;
}
.firstname{
    float:left;
    width:43.5%;
    
}
.lastname{
    float:right;
    width:43.5%;
}
.contact{
    width:95%;
}
.newpassword{
    width:95%;
    margin-bottom:4rem;
}
.birthday{
    margin-top:1rem;
}
.birthdaylabel{
    font-size:1.2rem; 
    color:#333333;
    font-weight:bold;
    letter-spacing: normal;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif ;
}
select{
    background-color: #fff;
    color: #1c1e21;
    letter-spacing: normal;
    word-spacing: normal;
    cursor: default;
    border-radius:0px;
    border:1px solid #bdc7d8;
    font:400 13.3333px arial;
    padding:0.4rem;
    margin-top:0.6rem;
}
.fa-question-circle{
    font-size:1.3rem;
    margin-left:1rem;
    color:gray;
}
.gender{
    margin-top:0.6rem;
}
.genderlabel{
    font-size:1.2rem; 
    color:#333333;
    font-weight:bold;
    letter-spacing: normal;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif ;
}
.input-gender{
    margin-top:0.4rem;
    margin-left:0.5rem;
}
.input-gender label{
    margin-right:1rem;
}
.gender input[type=radio]{
    height:1.3rem;
    width:3.5%;
    border:0px;
}
.text-gender{
    font-size:1.3rem;
    color:#333333;
    margin-left:3px;
    font-family:Helvetica, Arial, sans-serif ;
}
.term-text{
    font-size:0.8rem; 
    color:#999595;
    letter-spacing: normal;
    font-family:Helvetica, Arial, sans-serif ;
}
.term-text a{
    text-decoration:none;
    color:#385898;
}
.signup-button{
    background-color: #69a74e;
    border-radius:5px;
    cursor: pointer;
    padding:0.6rem 4.2rem;
    box-shadow: inset 0 1px 1px #a4e388;
    border:1px solid;
    border-color: #3b6e22 #3b6e22 #2c5115;
    background: linear-gradient(#67ae55, #578843);
    margin-bottom:1rem;
    margin-top:0.5rem;
}   
.signup-link{
    text-decoration:none;
    color:white;
    letter-spacing:normal;
    font-weight:bold;
    font-size:1.3rem;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif ;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.text-brand{
    font-size:0.9rem; 
    color:#333333;
    font-weight:bold;
    letter-spacing: normal;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif ;
    margin-top:1rem;
}
.text-brand a{
    text-decoration:none;
    color:#385898;
}
.text-brand a:hover{
    text-decoration:underline;
}
.language{
    margin-top:2rem;
    margin-bottom:0.8rem;
}
.language a{
    text-decoration:none;
    margin-right:0.8rem;
}
a:not(.active .signup-button ){
    color:#385898;
}
.active{
    color:gray;
}
.category{
    margin-bottom:2rem;
    margin-top:0.8rem;

}
.category a{
    text-decoration:none;
    margin-right:18px;
}
.bottom-text p{
    font-size:0.85rem;
    color:gray;
}
footer a:hover:not(.active){
    text-decoration:underline;
}

